@page
@model CP380_PubsWeb.Pages.Employees.IndexModel

@{
  //  ViewData["Employees"] = "Employees Name";
}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Employee)
        {
        <tr>
            <td>@t.Emp_id</td>
            <td>@t.Firstname </td>
            <td>@t.Lastname</td>



        </tr>
        }
    </tbody>
</table>
