@page
@model CP380_PubsWeb.Pages.Jobs.IndexModel
@{
    ViewData["Jobs"] = "Jobs";
}

<table class="table">
    <thead>
        <tr>
            <td>Job Id</td>
            <td>Job Description</td>
            <td>Employees</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Jobs)
        {
            <tr>
                <td>@a.J_id</td>
                <td>@a.Desc</td>
                <td>
                    <a class="page-link" asp-route-id="@a.J_id" asp-page="/Employees/Index">Employess</a>
                </td>
            </tr>
        }
    </tbody>

</table>